.test-container{
    display: grid;
    height: 100%;
    /* min-height: 0; */
}

#a {
    background-color: pink;
    display: flex;

}
#b{
    background-color: purple;
}

#b table {
    width: 100%;
    padding: 2%;
}

#c, #d{
    width: 50%;
}

