#intro {
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
    font-size: xx-large;
    font-weight: 300;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 10rem;
}

#picture img {
    object-fit: cover;
    height: 24rem;
    width: 100%;
    object-position: bottom;
}

#picture {
    width: 50%;
} 

#text,
.navList {
    font-size: xx-large;
    text-align: left;
    display: flex;
}

.navList a {
    text-transform: lowercase;
    margin-right: 1.8rem;
    margin-top: 0.5rem;
    text-decoration: none;
    display: flex;
    color: black;
}

.navList a:hover {
    cursor: pointer;
}

.navList a:visited {
    color: black;
    text-decoration: none;
  }

.navList a div {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

#content {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

#rarrow {
    height: 100%;
    width: 2rem;
}

