table {
    width: 100%;
    /* align-self: last baseline; */
    height: auto;
    padding: 0.5rem;
    margin: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #000000;
}

th {
    font-size: smaller;
    color: #8a8a8a;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 0.7rem;
}

td {
    padding: 5px;
}
tr {
    font-size:larger;
}

tr:hover td:nth-of-type(1) {
    color: #636363;
}

#date {
    text-align: right;
}

#name,
#type,
#location {
    text-align: left;
}