table {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #000000;
}

th {
    font-size: 15px;
    color: #8a8a8a;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

td {
    padding: 7px;
}
tr {
    font-size:20px;
    font-weight: 300;
}

tr:hover td:nth-of-type(1) {
    color: #636363;
}

tr td:nth-of-type(1){
    width: 50%;
}
tr td:nth-of-type(2),td:nth-of-type(3) {
    width: 20%;
}

#date {
    text-align: right;
}

#name,
#type,
#location {
    text-align: left;
}