.image-slider {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    position: relative;

    width: 100vw;
    height: 100vh;

    /* animation: fadeInAnimation 0.5s linear; */

}

::selection{
    background-color: #e8e80e;
    color: black;
}



/* image column */
.image-column {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

#image-header,
#image-description {
    text-align: center;
    position: absolute;
    color: white;

    user-select: none;
}

#image-header {
    top: 0;
    display: inline-flex;
}

#image-description {
    bottom: 0;
}


/* images */
.image-wrapper {
    display: flex;
    position: relative;
    text-align: left;
    min-width: 60px;
    min-height: 40px;
    width: 45vw;
    height: 30vw;
    overflow: hidden;
    
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    display: block; 
    position: absolute;
    object-fit: fit;

    user-select: none;
}


/* 

CAROUSEL BUTTONS 

*/
.slider-button-container{
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
}

button {
    border: none;
    border-radius: 0;
    background: none;
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: currentColor;
    z-index: 4;
}

#showFullscreen{
    margin-left: 0.9em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.small-arrow{
    height: 0.8em;
    width: auto;
    margin-right: 0.8em;
    display: inline;
}

.slider-button {
    z-index: 3;
    width: 50%;
    height: 100vh;
    cursor: url('../../../Assets/Arrows/arrow-left-white.svg'), auto;
}

.prev {
    cursor: url('../../../Assets/Arrows/arrow-left-white.svg'), auto;
}
.next {
    cursor: url('../../../Assets/Arrows/arrow-white.svg'), auto;
}

/* single image */
.single-image{
    min-width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-image img {
    width: 90% !important;
}

.single-image div {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1rem;
}


/* transforms */
.slide-right-enter {
    transform: translateX(100%);
}

.slide-right-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}

.slide-right-exit {
    transform: translateX(0%);
}

.slide-right-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}

.slide-left-enter {
    transform: translateX(-100%);
}

.slide-left-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}

.slide-left-exit {
    transform: translateX(0%);
}

.slide-left-exit-active {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}

