.image-slider {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    position: relative;

    min-width: 50vw;
    max-width: 100vw;

    height: 100vh;

    width: auto;

    /* animation: fadeInAnimation 0.5s linear; */

}

::selection{
    background-color: #e8e80e;
    color: black;
}



/* image column */
.image-column {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 3em;
}

#image-header,
#image-description {
    text-align: center;
    position: absolute;
    color: white;

    user-select: none;
}

#image-header {
    top: 0;
    display: inline-flex;
}

#image-description {
    bottom: 0;
}


/* images */
.image-wrapper {
    display: flex;
    position: relative;
    text-align: left;
    min-width: 60px;
    min-height: 40px;
    width: 45vw;
    height: 30vw;
    overflow: hidden;
    
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    display: block; 
    position: absolute;
    object-fit: fit;

    user-select: none;
}


/* 

CAROUSEL BUTTONS 

*/
.slider-button-container{
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
}

button {
    border: none;
    border-radius: 0;
    background: none;
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: currentColor;
    z-index: 4;
}


#showFullscreen{
    margin-left: 0.9em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#exit-fullscreen{
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
}

.small-arrow{
    height: 0.8em;
    width: auto;
    margin-right: 0.8em;
    display: inline;
}

.slider-button {
    z-index: 3;
    width: 50%;
    height: 100vh;
    cursor: url('../../../Assets/Arrows/arrow-left-white.svg'), auto;
}

.fullscreen-true{
    width: 100vw;
}

.prev {
    cursor: url('../../../Assets/Arrows/arrow-left-white.svg'), auto;
}
.next {
    cursor: url('../../../Assets/Arrows/arrow-white.svg'), auto;
}


/* ===== CAROUSEL TRANSITIONS ======*/
.slide-right-enter {
    transform: translateX(100%);
}

.slide-right-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}

.slide-right-exit {
    transform: translateX(0%);
}

.slide-right-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}

.slide-left-enter {
    transform: translateX(-100%);
}

.slide-left-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}

.slide-left-exit {
    transform: translateX(0%);
}

.slide-left-exit-active {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}




/* TESTTTT */

.test{
    min-width: 50vw;
    max-width: 100vw;
    width: auto;
    height: 100vh;
    position: absolute;
    right: 0;
}

#square{
    background-color: red ;
}

.test-enter {
    width: 50vw;
    /* height: 100vh; */
    position: absolute;
    right: 0;

}

.test-enter-active {
    width: 100vw;
    transition: width 2s;
    /* height: 100vh; */
    position: absolute;
    right: 0;


    /* transition: opacity 2000ms; */
}

.test-enter-done {
    width: 100vw;
    height: 100%;

    /* height: 100vh; */
    position: absolute;
    right: 0;

}
/* === Exit Transition === */
.test-exit {
    width: 100vw;
    height: 100%;

    /* height: 100vh; */
    position: absolute;
    right: 0;

}

.test-exit-active {
    width: 50vw;
    height: 100%;

    /* height: 100vh; */
    position: absolute;
    right: 0;

    transition: width 2s;
}

.test-exit-done {
    width: 50vw;
    height: 100%;
    /* height: 100vh; */
    position: absolute;
    right: 0;


}

/* ===== CUSTOM BACKGROUND ======*/

.about .image-slider {
    background-color: #b5c7c2;
}

.capstone .image-slider {
    background-color: #9b9583;
}

.jobapp .image-slider {
    background-color: #8388a1;
}

.wordle .image-slider {
    background-color: #5e695f;
}

.idlegame .image-slider {
    background-color: #4c7072;
}
